# Ignore sensitive, personal, and custom files
#.gitignore
*.txt
*.env*
*Lock*
*private*
*personal*
trash


# Hardhat files
cache
hardhat.config.ts
ignition
# Hardhat Ignition default folder for deployments against a local node
# ignition/deployments/chain-31337

# TypeChain files
typechain
typechain-types

# typescript

*.tsbuildinfo
next-env.d.ts

# solidity-coverage files
coverage
coverage.json

# Exceptions online work for files in core directories: https://stackoverflow.com/a/16318111/946957
artifacts

# HISTORICALL IGNORED FILES FROM 2022

# Package Manager Files
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# next.js
.next
out

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# dependencies

.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions



